.hero {
  background: url("https://images.unsplash.com/photo-1639832899627-5d77c5ce1eb8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1065&q=80")
    no-repeat center center/cover;
  height: 420px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: white;
  font-weight: 400;
}
.openModalBtn {
  background-color: #1686d9;
  border: 2px solid white;
  border-radius: 30px;
  text-decoration: none;
  padding: 10px 28px;
  color: white;
  margin-top: 1rem;
  display: inline-block;
}
.openModalBtn:hover {
  background-color: white;
  color: #1686d9;
  border: 2px solid #1686d9;
}
